html,
body {
	box-sizing:border-box;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family:Verdana, Geneva, sans-serif;
	background:#55d5f5;
	background-image:url("../../image/background.svg");
	background-repeat:no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-attachment: fixed;
	color:#1A237E;
}
	
.h1s{
	width:15em;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:2em;
	margin:1em auto;
}

#login{
	margin:3em auto;
	padding:0.4em;
	width:30em;
	background:#D3D3D3;
	box-shadow: 0 4px 8px 0 #1A237E;
	border:1px solid #5C6BC0;	
}

.inputLogin{
	width:16em;
	margin:0.5em;
	padding:6px;
	border:none;
	outline:none;
	font-size:1.2em;
	background:#FAFAFA;
	color:#1B1464;
}

.inputLogin::placeholder, .inputAuthor::placeholder,
.inputTitle::placeholder, .input::placeholder{
	font-family:Arial, helvetica, sans-serif;
	border-style:none;
	padding:0.2em;
	font-size:1em;	
	background:#FAFAFA;
	color:#1B1464;
}

.labelLogin{
	margin:0.3em;
	padding:6px;
	border:none;
	outline:none;
	font-size:1em
}

.btLogin{
	margin:0.3em 0 1em 0.5em;
	padding:0.3em;
	font-size:1.2em;
	font-weight:bold;
	background: #673AB7;
	color: #fafafa;
	border:none;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	border-radius:5px;
}
		
.btLogin:hover {
  background-color:#B39DDB;
}

#cards-box, #cards{
	width:900px;
	height:230px;
	margin:20px auto;
	padding:10px;
	
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-around;
	align-items:center;
}

#cards-box{
	background:#D3D3D3;
	box-shadow: 0 4px 8px 0 #3030ff;
}

#cards{
	border:none;
}
	
.title{
	font-weight: bold;
	font-style:italic;
	text-decoration: underline;	
	margin-bottom:0.5em;
}

#place, .place{
	background:#C6FF00;
}

#persona, .persona{
	background:#FF9800;
}

#action, .action{
	background:#FFFC00;
}

#complement, .complement{
	background:#4FC3F7;
}

.content{
	height:80%;
	display: flex;
	align-items: center;
	justify-content:center;
	font-weight: bold;
}

.card {
	position: relative;
	height:10em;
  	width:11em;
	--offset-multiplier: 4px;
	-webkit-transition: -webkit-transform 0.6s ease;
	transition: -webkit-transform 0.6s ease;
	transition: transform 0.6s ease;
	transition: transform 0.6s ease, -webkit-transform 0.6s ease;
	--translate: 0;
	-webkit-transform: translate(var(--translate), var(--translate));
			transform: translate(var(--translate), var(--translate));
  }
  .card:hover {
	--offset-multiplier: 8px;
  }
  .card:hover {
	--cards:3;
	--translate: calc(-1px * (var(--cards) - 1));
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  
  .child {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 16px;
	box-sizing: border-box;
	--background: #D3D3D3;
	box-shadow:  0 4px 8px 0 #3030ff;
	border-radius: 6px;
	-webkit-transition: inherit;
	transition: inherit;
	--translate: calc(var(--offset) * var(--offset-multiplier));
	-webkit-transform: translate(var(--translate), var(--translate));
			transform: translate(var(--translate), var(--translate));
	z-index: 5;
  }
  .child:nth-child(1) {
	--offset: 0;
	z-index: 4;
  }
  .child:nth-child(2) {
	--offset: 1;
	z-index: 3;
  }
  .child:nth-child(3) {
	--offset: 2;
	z-index: 2;
  }
	
#editor{
	width:900px;
	height:21em;
	margin:20px auto;
	padding:10px;
	
	background:#D3D3D3;
	box-shadow: 0 4px 8px 0 #3030ff;
}
	  
.input{
	width:850px;
	height:150px;
	margin:0 auto;
	padding:10px;
	border:none;
	outline:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	color:#1B1464;
}

.inputTitle{
	width:850px;
	margin:0 auto 0.3em;
	padding:10px;
	border:none;
	outline:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.2em;
	color:#1B1464;
}

.inputAuthor{
	width:300px;
	margin:1em 0 0 1em;
	padding:6px;
	border:none;
	outline:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.9em;
	background:#FAFAFA;
	color:#1B1464;
}

.inputRoom{
	width:18em;
	margin:1em 0 0 1.75em;
	padding:6px;
	border:none;
	outline:none;
	font-size:0.8em;
}
	  
.btRefresh {
	position:relative;
	width: 30px;
	height: 30px;
	margin:0;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	overflow: hidden;
}

button:active {
	top: 1px;
	box-shadow: none;
}

.btRefresh {
	background: #673AB7;
	box-shadow:  0 4px 8px 0 #3030ff;
}

.btRefresh:hover {
	background: #B39DDB;
}

.btRefresh .icon {
	width: 22px;
	height: 22px;
	transition: all 0.4s ease-in-out;
}
		
.btRefresh:hover .icon {
	transform: rotate(360deg);
}
		
.w3-animate-zoom {
	animation:animatezoom 1s}
	@keyframes 
	animatezoom{
	from{
		transform:scale(0)
	} 
	to{
		transform:scale(1)
	}
			
}
		
.add{
	margin:0.3em 0 1em 0;
	padding:0.3em;
	font-size:1.2em;
	font-weight:bold;
	background: #673AB7;
	color: #fff;
	border:none;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	border-radius:5px;
}
		
.add:hover {
  background-color: #B39DDB;
}

#texts{
	width:900px;
	margin:20px auto;
	padding:10px;
	font-family:Verdana, Geneva, sans-serif;
	opacity:0.9;

	background:#D3D3D3;
	box-shadow: 0 4px 8px 0 #3030ff;
}

.text-box{
	margin:10px auto;
	padding:5px;
	border:1px solid red;
}

#status{
	text-align: right;
	font-size:0.8em;
	font-weight:bold;
	--border:1px solid red;	
}

#text-keywords{
	font-size:0.7em;
	font-style:italic;	
}

#text-title{
	font-size:1.3em;
	font-weight: bold;
	text-decoration:underline;	
	padding:0.5em 0;
}

#delivered-text{
	font-size:1em;
	padding:0.5em 0;
}

#text-author{
	font-size:0.8em;
	font-weight:bold;
	padding:0.5em 0;
}